:root{
    --blue: #0b2e41;
    --aqua: #00c7ea;
    --light: #cad7e0;
}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 3000px;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}


.products{
    padding: 100px;
    background-color: var(--light);
}
.products_title{
    align-items: center;
}
.products_grid{
    border: 1px solid var(--aqua);
    border-radius: 20px;
    padding: 20px;

}
.products__list{
    display: flex;
    column-gap: 30px;
}
.products__item{
    flex-grow: 1;

}
.products__item p{
    text-align: center;
    margin-top: 15px;
}
.products__item_imag{
    height: 200px;
    background-color: var(--blue);
    border-radius: 10px;
}
.about{
    background-color: var(--blue);
    padding: 50px 0;
}
.about__grid{
    display:flex;
    justify-content: space-between;
}
.about_card{
    width: 30%;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    color: #ffffff;
    transition: all 0.3s;
    padding: 10px;
}
.about_card:hover{
    border-color: var(--aqua);
}
.about__name{
    font-size: 22px;
    font-weight: 700;
}
.about__photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--light);
}
@media screen and (max-width: 480px) {
    :root {
        --blue: red;
    }
}