:root{
    --color_light__grey: #d9d9d9;
    --color_dark__grey: #a3a3a3;

}
*{
    margin: 0;
    padding: 0;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1000px;
    border: 5px solid var( --color_dark__grey);
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box;

}
.main{
    margin-top: 5px;
    display: flex;
    column-gap: 5px;
}

.header,.main_left__header {
    height: 150px;
    background-color: var(--color_light__grey);

}

.main_left_content{
    display: flex;
    column-gap: 5px;

}

.main_left_item{
    flex-grow: 1;
    width: 100px;
    height: 150px;
    background-color: var(--color_light__grey);
}
.main_left{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}
.main_right{
    flex-grow: 1;
    background-color: var(--color_light__grey)
}