.wrap{
    display: flex;
    flex-direction: column;
}
.header{
    background-color: rosybrown;
    width: 1200px ;
    height: 300px;
}

.nav{
    background-color: dodgerblue;
    width: 1200px;
    height: 200px;

}
.width{
    width: 1200px;
}
.xxx{
    display: flex;
}
.main{
    background-color: greenyellow;
    width: 800px;
    height: 800px;
}
.aside{
    background-color: aqua;
    width: 400px;
    height: 800px;
}
.footer{
    background-color: fuchsia;
    width: 1200px;
    height: 200px;
}