.wrap{
    background-color: gray;
    height: 600px;
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;

}


.A{

    height: 150px;
    width: 1200px;
    background-color: aqua;
}
.B{
    width: 700px;
    height: 400px;
    background-color: chartreuse;
}
.C{
    background-color: blue;
    width: 480px;
    height: 400px;

}