.wrap{
    border: 5px ;
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: aqua;
}
*{
    margin: 0;
    padding: 0;
}
.width{
    width: 1000px;
}
.height{
    height: 150px;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background-color:greenyellow ;
    margin-top: 5px;
    column-gap: 5px;
    height: 150px;
}
.xxx{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;

}
.bonus{
    margin-top: 5px;
    display: flex;
    column-gap: 5px;

}
.delete{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}
.menu{
    background-color: rosybrown;
    height: 500px;
    width: 150px;


}
.post{
    flex-grow: 1;
    width: 700px;
    background-color: dodgerblue;
    flex-direction: column;
}



.footer{
    background-color: greenyellow;
}