.wrap{
    background-color: gray;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;

}
.width{
    width: 1200px;
}
.height{
    height: 400px;
}

.header{

    height: 150px;
    background-color: aqua;
}
.Block{
    width: 700px;
    background-color: chartreuse;
}
.footer{
    background-color: blue;
    width: 480px;

}