@media screen and (max-width: 1200px) {
    .header__top {
        max-width: 1200px;
    }
    .bg-light {
        background-color: black!important;
    }
    .nav-link active {
        display: none;
    }
    .nav-link1 {
        display: flex;
    }
    .dropdown1 nav-link active{
        display: none;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #f9fafb;
    }
    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: #f9fafb;
    }
    .dropdown-toggle {
        white-space: nowrap;
        display: none;
    }


    .nav {
        display: flex;
        justify-content: space-evenly;
    }
    .container {
        display: flex;

        height: 30px;
        justify-content: space-evenly;
        align-items: flex-start;
        border: 30px;
        margin: 15px;

    }
    img, svg {
        margin: 10px;

    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;

    }
    .dropdown1 {
        display: none;
    }
    .btn btn-secondary dropdown-toggle {
        display: none;
    }
    .btn-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
        display: none;
    }
    .mob {
        display: flex;
    }


    .me-2 {
        height: 30px;
        width: 550px;
        justify-content: flex-end;
        margin-top: 35px;
    }
    .d-flex {
        align-items: flex-end;
    }

    .seach {
        display: flex;
        width: 1000px;


        border-radius: 6px 0 0 6px;
    }
    .button {
        margin-top: 50px;
    }
    .type__name {
        display: flex;
        border: 10px;
    }
    .type__name img {
        border: 10px;
    }
    .whatsapp {
        display: flex;
        background-color: #E1EFD0;
        height: 30px;
    }
    .whatsapp img {
        width: 15px;
        height: 15px;
    }
    .nomer {
        border: 10px;
    }
    .image {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 30px;
        border: 20px;
    }
    .taxfree {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
    .tax {
        display: flex;

    }
    .tax img {
        left: 0;
        right: 0;
        top: 5.47%;
        bottom: 5.56%;

    }
    .snow {
        display: flex;
        width: 69px;
        height: 32px;
        left: 1568px;
        top: 170px;

        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }
    .carousel-item active img {
        height: 195px;
    }

    .carousel {
        width: 800px;
        height: 330px;
        justify-content: space-between;
        display: flex;



    }
    .carousel__nav {
        display: flex;
        /*justify-content: space-between;*/
    }



    .carousel-item {
        justify-content: flex-start;
        align-items: flex-start;
        background: url("../project/image/Mask Group2.png") no-repeat center/cover;

    }
    .block {
        width: 250px;
        display: block;
        background: #F4F5FA;
        border-radius: 10px;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        padding: -40px;

    }

    .card mb-3 {
        margin-top: 268px;
        display: block;
        flex-direction: column;
    }
    .g-0, .gy-0 {
        --bs-gutter-y: 0;
        /*display: inline;*/
        /*width: 500px;*/
    }
    .mb-3 {
        display: contents;
    }
    .block1 {
        width: 256px;
        height: 200px;
        align-items: self-end;
    }

    .block2 {
        width: 256px;
        height: 200px;


    }
    .card {
        margin-top: 200px;
        width: 200px;
        flex-direction: row;
    }
    .card-img, .card-img-bottom, .card-img-top {
        width: 36%;
    }
    .top {
        display: flex;
        width: 100%;
        height: 184px;


        background: #FFFFFF;
        border: 1px solid #E1E5F8;
        box-sizing: border-box;
        border-radius: 6px;
    }
    .top__card {
        display: flex;
        height: 184px;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;

        background: #FFFFFF;
        border: 1px solid #E1E5F8;
        box-sizing: border-box;
        border-radius: 6px;

    }
    .top__top {
        align-content: space-between;
        justify-content: space-between;
        border: 50px;
        margin: 40px;
    }
    .div {
        display: flex;
        margin: 20px;
        border: 10px;
    }

    .bottoms {
        display: flex;
        justify-content: flex-start;


    }
    .kop {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .bottoms__type {
        /*margin-top: 140px;*/
    }


    .grid__card {
        margin-top: 10px;
        height: 10px;
        border: 10px;
        padding: 10px;

    }
    .item {
        display: flex;
        margin-top: -140px;
    }
    .item1 {
        display: flex;
        margin-top: -140px;
    }
    .item__item {
        display: flex;
        flex-direction: column;
    }
    .item img {
        width: 100px;
        height: 90px;

    }
    .mono {
        display: flex;
        margin: 30px;
    }
    .mono__img {
        display: block;
        margin-top: 440px;
        width: 800px;
        border: 20px;
    }

    .mono__img img {
        width: 1200px;
    }
    .mono__img p {
        width: 220px;

    }
    .slovo {
        background-color: black;
        color: white;
        width: 100px;
    }
    .end {
        display: flex;
        background-color: black;
        color: white;
    }
    .end__end {
        display: block;
    }

    .end__end img {

    }
}

@media screen and (max-width: 320px) {
    .header__top {
        width: 310px;
    }
    .bg-light {
        background-color: black!important;
        display: none;
    }
    .dropdown1 {
        display: flex;
        background-color: black;
        color: white;
    }
    .nav-link1 {
        display: block;
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #f9fafb;
    }
    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: black;
    }
    .dropdown-menu.show {
        display: block;
        background-color: black;
    }

    .nav {
        display: none;
        justify-content: space-evenly;
    }
    .btn-secondary {
        color: #fff;
        background-color: black;

        display: flex;
    }
    .dropdown-toggle {
        white-space: nowrap;
        display: block;
    }
    .dropdown1 {
        display: flex;
    }
    .navbar-nav .dropdown-menu {
        display: none;
        position: static;
        background-color: black;
    }
    .container {
        display: none;

        height: 30px;
        justify-content: space-evenly;
        align-items: flex-start;
        border: 30px;
        margin: 15px;

    }
.container img {
    height: 16px;

    }
    .tax img {
        left: 0;
        right: 0;
        top: 5.47%;
        bottom: 5.56%;
        height: 20px;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: none;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;

    }

    .mob {
        display: block;
    }


    .me-2 {
        height: 30px;
        width: 206px;
        justify-content: flex-end;
        margin-top: 35px;
    }
    .d-flex {
        align-items: flex-end;
    }

    .seach {
        display: block;
        width: 310px;
        padding: 5px;
        margin-top: -39px;

        border-radius: 6px 0 0 6px;
    }
    .button {
        margin-top: 50px;
        display: none;
    }
    .type__name {
        display: none;
        border: 10px;
    }
    .type__name img {
        border: 10px;
    }
    .whatsapp {
        display: none;
        background-color: #E1EFD0;
        height: 30px;
    }
    .whatsapp img {
        width: 15px;
        height: 15px;
    }
    .nomer {
        border: 10px;
    }
    .image {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 30px;
        border: 20px;
    }
    .taxfree {
        display: block;
        align-items: center;
        justify-content: space-evenly;

    }
    .tax {
        display: block;

    }
    .tax img {
        left: 0;
        right: 0;
        top: 5.47%;
        bottom: 5.56%;

    }
    .snow {
        display: block;
        width: 69px;
        height: 32px;


        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }
    .carousel-item active img {
        height: 125px;
        width: 150px;
        display: none;
    }
    img, svg {
        margin: 10px;
        height: 86px;

    }

    .carousel {
        width: 310px;
        /*height: 330px;*/
        /*justify-content: space-between;*/
        display: block;
        padding: 5px;



    }
    .carousel__nav {
        display: block;
        height: 150px;
        /*justify-content: space-between;*/
    }



    .carousel-item {
        /*justify-content: flex-start;*/
        /*align-items: flex-start;*/
        background: url("../project/image/Mask Group2.png") no-repeat center/cover;

    }

    .block {
        width: 250px;
        display: none;
        background: #F4F5FA;
        border-radius: 10px;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        /*padding: -40px;*/
        margin-top: -30px;

    }

    .card mb-3 {
        margin-top: 268px;
        display: block;
        flex-direction: column;
    }
    .g-0, .gy-0 {
        --bs-gutter-y: 0;
        /*display: inline;*/
        /*width: 500px;*/
    }
    .mb-3 {
        display: block;
    }
    .block1 {
        width: 32%;
        height: 200px;
        align-items: self-end;
    }

    .block2 {
        width: 256px;
        height: 200px;


    }
    .card {
        margin-top: 165px;
        width: 200px;
        flex-direction: row;

    }
    .card-img, .card-img-bottom, .card-img-top {
        width: 36%;
    }
    .top {
        display: block;
        width: 100%;
        height: 184px;


        background: #FFFFFF;
        border: 1px solid #E1E5F8;
        box-sizing: border-box;
        border-radius: 6px;
    }
    .top__card {
        display: flex;
        height: 184px;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;

        background: #FFFFFF;
        border: 1px solid #E1E5F8;
        box-sizing: border-box;
        border-radius: 6px;

    }

    .top__top {
        align-content: space-between;
        justify-content: space-between;
        border: 50px;
        margin: 40px;
    }

    .div {
        display: block;
        margin: 20px;
        border: 10px;
        margin-top:  -211px;
        width: 150px;
    }

    .bottoms {
        display: flex;
        justify-content: flex-start;
        padding: 10px;


    }
    .kop {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .bottoms__type {
        /*margin-top: 140px;*/
    }


    .grid__card {
        margin-top: 10px;
        height: 10px;
        border: 10px;
        padding: 10px;
        width: 310px;

    }
    .item {
        display: block;
        margin-top: -155px;

    }
    .item1 {
        display: block;
        margin-top: -140px;
    }
    .item__item {
        display: block;
        flex-direction: column;
    }
    .item img {
        width: 100px;
        height: 90px;

    }
    .mono {
        display: none;
        margin: 30px;
    }
    .mono__img {
        display: block;
        /*margin-top: 440px;*/
        width: 310px;
        border: 20px;
    }

    .mono__img img {
        width: 310px;
    }
    .mono__img p {
        width: 220px;

    }
    .slovo {
        background-color: black;
        color: white;
        width: 100px;
    }
    .end {
        display: block;
        background-color: black;
        color: white;
        margin-top: 2256px;
        width: 310px;
        padding: 10px;
    }
    .end__end {
        display: block;
    }

    .end__end img {

    }
}